@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@*
  Bootstrap 3 - read the readme.md section "CSS Framework Detection"
*@
@if(Connect.Koi.Koi.Is("bs3")) {
  @RenderPage("bs3/_Article.cshtml")
  return;
}
@*
  Bootstrap 4 or Unknown CSS Framework
*@
@RenderPage("shared/_Assets.cshtml", new { scripts = true} )

@{
  var parts = CreateInstance("shared/_Parts.cshtml");

  var article = AsList(Data).FirstOrDefault();
  var newsPage = "";
}

@* FIXME: Still show detail if archive *@

@if(article != null) {

  @* Check whether the article is already published but not outdated yet *@
  if(article.ShowFrom <= DateTime.Now && article.ShowTo >= DateTime.Now || Edit.Enabled) {
    newsPage = Text.Has(Content.NewsPage) ? Content.NewsPage : Link.To();
    HtmlPage.AddMeta("DESCRIPTION", Tags.Strip(article.Teaser)); // Add Meta tag
    HtmlPage.Title = article.Date.ToString("dd.MM.yyyy") + " - " + article.Title +  " | " + HtmlPage.Title; // Adjust page title

    <div class="app-news app-news-detail" @Edit.TagToolbar(article)>
      @* Head of the article *@
      <div class="app-content">
        @* "Will publish"/"expired" notes for admin *@
        @parts.ArticleInformationAdmin(article)

        <h2>@article.Title</h2>

        @* Show Date and categories *@
        @parts.ArticleInformationDateAndCategories(article, newsPage)
      </div>

      @* Body of the article *@
      <div class="app-content">
        @* Show image or placeholder *@
        @parts.ImageOrPlaceholder(article, true)

        @if(article.ShowTeaserInDetail) {
          <p class="app-news-detail-teaser">@Html.Raw(Tags.Nl2Br(article.Teaser))</p>
        }

        <div class="app-news-detail-body">@Html.Raw(article.Body)</div>
      </div>
    </div>
  } else {
    // Show article not found notification
    @parts.ArticleNotFound()
  }
} else {
  // Show article not found notification
  @parts.ArticleNotFound()
}

@* Show "Back to list" button *@
@parts.BackToListButton(Link.To(), true)