<link rel="stylesheet" href="@App.Path/dist/liststyles.css" />
<script src="@App.Path/dist/script.js"></script>

@{
    var needle = Request.QueryString["sort"];
    var allData = AsDynamic(Data["News"]);
    var paging = AsDynamic(Data["Paging"]).FirstOrDefault();
    var allCategories = AsDynamic(App.Data["Category"]);

    var newsPage = @Dnn.Tab.FullUrl;
}
@if (!String.IsNullOrEmpty(Content.NewsPage)) {
    newsPage = Content.NewsPage;
}

<div class="app-news app-news-default-list sc-element">
    @Edit.Toolbar(actions: "new", contentType: "News", settings: new { hover = "left" })
    @Edit.Toolbar(Content)

    <div class="app-news-container">
        @if (!String.IsNullOrEmpty(needle)) {
            <div class="app-news-catinfo">
                <h2>@allCategories.Where(x => x.UrlKey == needle).FirstOrDefault().Name</h2>
                @foreach (var c in allCategories)
                {
                    <span><a href="@(newsPage + "/sort/" + c.UrlKey)">@c.Name</a>&ensp;|&ensp;</span>
                }
            </div>
        }
        @foreach (var item in allData)
        {
            var detailsLink =  Link.To(parameters: "detail=" + item.UrlKey);
            
            <div class="app-news-item sc-element" onclick="window.open('@detailsLink','_self');">
                <div>
                    @Edit.Toolbar(item)
                    @if (!String.IsNullOrEmpty(@item.Image))
                    {
                        <div class="app-news-imagecontainer">
                            <img src="@item.Image?w=400&h=300&mode=crop" alt />
                        </div>
                    }
                    <div class="@(!String.IsNullOrEmpty(@item.Image) ? "app-news-contentcontainer" : "")">
                        <h2>@item.Title @Request.Url.Host</h2>
                        <span class="app-news-date">@item.Date.ToString("dd.MM.yyyy")</span>
                        <span class="app-news-categories">
                        @if (@item.Categories.Count >  0)
                        {
                            @: |
                        } 
                        @foreach (var cat in  @item.Categories)
                        {
                            <span><a href="@(newsPage + "/sort/" + cat.UrlKey)">@cat.Name</a>&ensp;&ensp;&ensp;</span> 
                        }
                        </span>
                        <p>
                            @item.Teaser    
                        </p>

                        <a class="btn btn-primary" href="@detailsLink">@Html.Raw(App.Resources.LabelReadMore)</a>
                    </div>
                </div>
            </div>
        }
        @if (!String.IsNullOrEmpty(needle)) {
            <a class="btn btn-primary app-news-backtolist" href="@newsPage">@Html.Raw(App.Resources.LabelBackToList)</a>
        }

        @if (Content.ShowPagination) {
            @RenderPage("_paging.cshtml", new { newsPage = newsPage }) }
    </div>
</div>