@using System.Web.UI.HtmlControls
@using Connect.Koi;

@{
    var item = AsDynamic(Data["Default"]).FirstOrDefault();
    var lib = CreateInstance("_library.cshtml");
    
    var newsPage = "";
    var newsPageTab = @Dnn.Module.TabID;

    var pageHandler = HttpContext.Current.Handler as Page;
    var tp = (DotNetNuke.Framework.CDefault)pageHandler;    
}
@if (pageHandler != null && tp != null)
{
    if (!String.IsNullOrEmpty(item.Body))
    {
        var description = lib.StripHTML(item.Teaser);

        tp.Description = description;
        var metaDescription = (HtmlMeta)pageHandler.FindControl("metaDescription");
        metaDescription.Visible = true;
        metaDescription.Content = HttpUtility.HtmlAttributeEncode(description);
    }

    if (!String.IsNullOrEmpty(item.Title))
    {
        pageHandler.Title = item.Date.ToString("dd.MM.yyyy") + " - " + item.Title + " | " + Dnn.Module.ParentTab.TabName + " | " + Dnn.Portal.PortalName;
    }
}
@if(!String.IsNullOrEmpty(Content.NewsPage)) 
{
    newsPage = Content.NewsPage;
    newsPageTab = int.Parse((AsEntity(Content).GetBestValue("NewsPage")).Split(':')[1]);
}

else if ((@AsDynamic(Data["Default"]).Count() < 1) || (Permissions.UserMayEditContent == false && item.ShowFrom > DateTime.Now) || (Permissions.UserMayEditContent == false && item.ShowTo < DateTime.Now))
{
    <div>
        <p>
            @App.Resources.LabelEventNotExists
        </p>

        <a class="btn btn-primary app-news-backtolist" href="@Link.To()">@Html.Raw(App.Resources.LabelBackToList)</a>
    </div>
}
else
{
    <div class="app-news app-news-detail sc-element">
        @Edit.Toolbar(item)
    
        <div class="app-content">
            <h2>
                @item.Title
                @if(item.ShowFrom.Date > DateTime.Now.Date)
                {
                    <span class="app-events-pill">&Ouml;FFENTLICH&nbsp;AB&nbsp;@item.ShowFrom.Date.ToString("dd.MM.yyyy")</span>
                }
                @if(item.ShowTo.Date <= DateTime.Now.Date)
                {
                    <span class="app-events-pill">ABGELAUFEN&nbsp;SEIT&nbsp;@item.ShowFrom.Date.ToString("dd.MM.yyyy")</span>
                }
            </h2>
            <span class="app-date @((item.Categories.Count >  0 && App.Settings.ActivateCategories) ? "app-date-border" : "")">@item.Date.ToString("dd.MM.yyyy")</span>
            <span class="app-categories">
            @if(App.Settings.ActivateCategories) {
                foreach (var cat in  @item.Categories)
                {
                    <a href="@lib.LinkToPage(newsPageTab, "category", cat.UrlKey, "", "", "", "")">@cat.Name</a>
                }
            }
            </span>
        
        </div>
        
        <div class="app-content">
            @if (!String.IsNullOrEmpty(@item.Image))
            {
                if (item.Lightbox)
                {
                    @:<a class="fancybox" title="@item.Title" href="@item.Image?w=1200&amp;h=1200&amp;mode=max&amp;scale=both&amp;quality=80">
                } 
                        <div class="app-news-detail-img">
                            <img @Koi.Class("all='' bs3='img-responsive' bs4,oth='img-fluid'") src="@item.Image?w=800&amp;mode=max&amp;scale=both&amp;quality=80&amp;anchor=@item.CropAnchor" alt="@item.Title" />
                        </div>
                if (item.Lightbox)
                { 
                    @:</a> 
                }
            }
            else
            {
                <div class="app-news-detail-img app-news-missing-img @((String.IsNullOrEmpty(@item.Image)) ? "app-noimg" : "")">
                    <img @Koi.Class("all='' bs3='img-responsive' bs4,oth='img-fluid'") src="@App.Resources.PlaceholderMissingImage?max-width=600&amp;mode=max&amp;scale=both&amp;quality=80" alt="@item.Title" />
                </div>
            }
            
            @if(item.ShowTeaserInDetail) 
            {
                <p class="app-news-detail-teaser">
                    @item.Teaser
                </p>
            }
            
            <p class="app-news-detail-body">
                @ToSic.SexyContent.ContentBlocks.Render.All(item, field: "BodyContentBlocks", merge: item.Body)
            </p>
            
            <a class="btn btn-primary app-news-backtolist" href="@Link.To()">@Html.Raw(App.Resources.LabelBackToList)</a>
        </div>
    
    </div>
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" data-enableoptimizations="true" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js" data-enableoptimizations="true"></script>
<link rel="stylesheet" href="@App.Path/dist/@(Koi.PickCss("bs3,bs4", "bs3")).css" data-enableoptimizations="true" />

<script>
    $(function() {
        $(".fancybox").fancybox();
    })
</script>

<style>
    .sc-content-block-quick-insert {
        display: none !important;
    }
</style>
