@using System.Web.UI.HtmlControls
@using Connect.Koi;

@{
    var item = AsDynamic(Data["Default"]).FirstOrDefault();
    var lib = CreateInstance("_library.cshtml");
    
    var newsPage = "";
    var newsPageTab = @Dnn.Module.TabID;

    var pageHandler = HttpContext.Current.Handler as Page;
    var tp = (DotNetNuke.Framework.CDefault)pageHandler;    
}
@if (pageHandler != null && tp != null)
{
    if (!String.IsNullOrEmpty(item.Body))
    {
        var description = lib.StripHTML(item.Teaser);

        tp.Description = description;
        var metaDescription = (HtmlMeta)pageHandler.FindControl("metaDescription");
        metaDescription.Visible = true;
        metaDescription.Content = HttpUtility.HtmlAttributeEncode(description);
    }

    if (!String.IsNullOrEmpty(item.Title))
    {
        pageHandler.Title = item.Date.ToString("yyyy-MM-dd") + " - " + item.Title + " | " + Dnn.Portal.PortalName + " > " + Dnn.Module.ParentTab.TabName;
    }
}
@if(!String.IsNullOrEmpty(Content.NewsPage)) 
{
    newsPage = Content.NewsPage;
    newsPageTab = int.Parse((AsEntity(Content).GetBestValue("NewsPage")).Split(':')[1]);
}

<div class="app-news app-news-detail sc-element">
    @Edit.Toolbar(item)
   
    <div class="app-content">
        <h1>@item.Title</h1>
        <span class="app-date @(item.Categories.Count >  0 ? "app-date-border" : "")">@item.Date.ToString("dd.MM.yyyy")</span>
        <span class="app-categories">
        @foreach (var cat in  @item.Categories)
        {
            <a href="@lib.LinkToPage(newsPageTab, "category", cat.UrlKey, "", "")">@cat.Name</a>
        }
        </span>
       
    </div>
    
    <div class="app-content">
         <!-- Image -->
        @if (!String.IsNullOrEmpty(@item.Image))
        {
            <div class="app-news-detail-img">
                <img class="img-responsive" src="@item.Image?w=800&amp;mode=max&amp;scale=both&amp;quality=80" alt />
            </div>
        }
        <!-- END-IMage -->
         <p class="app-news-detail-body">
            @ToSic.SexyContent.ContentBlocks.Render.All(item, field: "BodyContentBlocks", merge: item.Body)
        </p>
        <a class="btn btn-primary app-news-backtolist" href="@Link.To()">@Html.Raw(App.Resources.LabelBackToList)</a>
       
    </div>
   
</div>

<link rel="stylesheet" href="@App.Path/dist/@(Koi.PickCss("bs3,bs4", "bs3")).css" data-enableoptimizations="true" />