<link rel="stylesheet" href="@App.Path/dist/liststyles.css" />
<script src="@App.Path/dist/script.js"></script>

@{
    var lib = CreateInstance("_library.cshtml");
    
    var needle = Request.QueryString["sort"];
    var allCategories = AsDynamic(App.Data["Category"]);

    var newsPage = @Dnn.Tab.FullUrl;
    var newsPageTab = @Dnn.Module.TabID;
}
@if (!String.IsNullOrEmpty(Content.NewsPage)) {
    newsPageTab = int.Parse((AsEntity(Content).GetBestValue("NewsPage")).Split(':')[1]);
}

<div class="app-news app-news-masonry-grid sc-element">
    @Edit.Toolbar(actions: "new", contentType: "News", settings: new { hover = "left" })
    @Edit.Toolbar(Content)

    @if (!String.IsNullOrEmpty(needle)) {
        <div class="app-news-catinfo">
            <h2>@allCategories.Where(x => x.UrlKey == needle).FirstOrDefault().Name</h2>
            @foreach (var c in allCategories)
            {
                <span><a href="@lib.LinkToPage(newsPageTab, "sort", c.UrlKey)">@c.Name</a>&ensp;|&ensp;</span>
            }
        </div>
    }
    <div class="app-news-container">
        @foreach (var item in  @AsDynamic(Data["News"]))
        {
            string detailsLink = @lib.LinkToPage(newsPageTab, "detail", item.UrlKey);        
            
            <div class="app-news-item sc-element" onclick="window.open('@detailsLink','_self');">
                <div>
                    @Edit.Toolbar(item)
                    @if (!String.IsNullOrEmpty(@item.Image))
                    {
                        <div>
                            <img src="@item.Image" alt />
                        </div>
                    }
                    <div>
                        <h2>@item.Title</h2>
                        <span class="app-news-date">@item.Date.ToString("dd.MM.yyyy")</span>
                        <span class="app-news-categories">
                        @if (@item.Categories.Count >  0)
                        {
                            @: |
                        } 
                        @foreach (var cat in  @item.Categories)
                        {
                            <span><a href="@lib.LinkToPage(newsPageTab, "sort", cat.UrlKey)">@cat.Name</a>&ensp;&ensp;&ensp;</span> 
                        }
                        </span>
                        <p>
                            @item.Teaser    
                        </p>

                        <a class="btn btn-primary" href="@detailsLink">@Html.Raw(App.Resources.LabelReadMore)</a>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (!String.IsNullOrEmpty(needle)) {
        <a class="btn btn-primary app-news-backtolist" href="@newsPage">@Html.Raw(App.Resources.LabelBackToList)</a>
    }
    
    @if (Content.ShowPagination) {
            @RenderPage("_paging.cshtml", new { newsPage = newsPage }) }
</div>