@inherits AppCode.Razor.AppRazor
@using ToSic.Razor.Blade
@using AppCode.Data

@{
  var article = MyModel.Get<News>("Article");
  var headingType = MyModel.String("HeadingType");
  var displayCategories = App.Settings.ActivateCategories && article.Categories.Any();
}

<div class="app-news5-text">
  @* "Will publish" / "expired" info for admin *@
  @AdminArticleInformation(article)

  @* Create a heading tag with specified type *@
  @Tag.Custom(headingType).Class("app-news5-list").Wrap(article.Title)
  <span class='app-news5-date @(displayCategories ? "pe-1 me-1 pr-1 mr-1 border-end border-right" : "")'>
    @article.Date.ToString("d")
  </span>

  @* Show list of categories necessary *@
  @if (displayCategories)
  {
    <span class="app-news5-categories">
      @foreach (var cat in article.Categories)
      {
        <a href='@Link.To(parameters: "category=" + cat.UrlKey)'>
          @cat.Name
        </a>
      }
    </span>
  }
  <p>@Html.Raw(Tags.Nl2Br(TeaserAssembly(article)))</p>
</div>
<span class="app-news5-readmore">@App.Resources.LabelReadMore</span>