@inherits Custom.Hybrid.RazorTyped
@{

  @* Include bootstrap 5 if the framework isn't known - then this file is still called, and we add Bootstrap to the page *@
  @Kit.Page.Activate(condition: Kit.Css.IsUnknown, features: "Bootstrap5")

  // 3. Show warning for admin if koi.json is missing 
  if (Kit.Css.IsUnknown && MyUser.IsSiteAdmin)
  {
    <div class='dnnFormMessage dnnFormWarning'>
      @Html.Raw(Connect.Koi.Messages.CssInformationMissing) <br>
      @Html.Raw(Connect.Koi.Messages.OnlyAdminsSeeThis)
    </div>
  }

  // 4. Include styles of the App
  if (Kit.Css.Is("bs5")) {
    <link rel="stylesheet" href="@MyView.Folder.Url/theme/theme.css" @Kit.Page.AssetAttributes()/>
  }  
  <link rel="stylesheet" href="@MyView.Folder.Url/dist/styles.min.css" @Kit.Page.AssetAttributes()/>

  // 5. When we are on the details page we need Fancebox and we can activate this via script true
  if (MyModel.Bool("scripts", required: false))
  {
    // Activate turnOn and Fancybox4 - see https://r.2sxc.org/turnon - fancybox4 is a standard WebResources in 2sxc
    Kit.Page.Activate("fancybox4");
    Kit.Page.TurnOn("window.appNews5.activateFancybox()", data: new { groupId = UniqueKey });

    <script type="text/javascript" src="@MyView.Folder.Url/dist/scripts.min.js" @Kit.Page.AssetAttributes(position:"bottom")></script>
  }
}

