@inherits AppCode.Razor.AppRazor
@using ToSic.Razor.Blade
@using AppCode.Data

@{
  var filteredCategory = MyModel.Get<Category>("FilteredCategory");
  var selectedId = filteredCategory?.Id ?? -1;

  var catToolbar = Kit.Toolbar.Empty()
    .Settings(hover: "left")
    .Data("Category");
}

@* Show all category filter buttons *@
<div class="app-news5-catinfo mb-3" @catToolbar>
  @* Default button to un-select any filters  *@
  <span>
    <a class='btn btn-primary btn-sm @(selectedId == -1 ? "active" : "")' href="@Link.To()">
      @App.Resources.LabelCategoryAll
    </a>
  </span>

  @* Show categories and highlight currently selected *@
  @foreach (var cat in App.Data.GetAll<Category>())
  {
    <span>
      <a class='btn btn-primary btn-sm @(cat.Id == selectedId ? " active" : "")' href='@Link.To(parameters: "category=" + cat.UrlKey)'>
        @cat.Name
      </a>
    </span>
  }
</div>