@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;

@{
  // Get some helper commands for later on
  var helpers = CreateInstance("../shared/Helpers.cs");

  var filteredCategory = AsList(Data["Category"]).FirstOrDefault();

  var articleToolbar = Kit.Toolbar.Default().Layout("-").Delete();

  var isBs3 = Kit.Css.Is("bs3");
  var col = isBs3 ? "col-xs-12 col-sm-6 col-lg-8" : "col-12 col-md-6 col-lg-8";
  var col12 = isBs3 ? "col-xs-12" : "col-12";
  var cl = isBs3 ? "app-news5-image-wrapper-single-col col-xs-12 col-sm-6 col-lg-4" : "mb-3 mb-md-0 col-12 col-md-6 col-lg-4";

}

@* Show Toolbar Menu if admin *@
@if (Edit.Enabled) {
  @Html.Partial("../shared/Admin.cshtml", new { Content = Content})
  @helpers.AdminDetailsPageConfigWarning()
}
<div class="app-news5 app-news5-list">
  @* Show title *@
  <h1 class="mb-3">
    @(filteredCategory != null ? filteredCategory.PageTitle : Content.Title)
  </h1>

  @* Show category filter if configured *@
  @if (App.Settings.ActivateCategories) {
    @Html.Partial("../shared/Category Filter.cshtml", new { FilteredCategory = filteredCategory})
  }

  @* List the articles *@
  <div class="row">
    @foreach (var article in AsList(Data["News"])) {
      <div class="@col12" @articleToolbar.For(article)>
        <div class="app-news5-details-link">
          <a class="link-overlay" href="@helpers.LinkToDetailsPage(article)"></a>
          <div class="row">
            <div class="@cl">
              @* Show image or placeholder *@
              @Html.Partial("../shared/Article Image.cshtml", new { Article = article })
            </div>
            <div class="@col">
              @* Show Title, Date, Category, Teaser and read more link *@
              @Html.Partial("../shared/Article Information.cshtml", new { Article = article, HeadingType = "h2" })
            </div>
          </div>
        </div>
      </div>
    }
  </div>

  @* Show pagination if configured *@
  @if (Content.ShowPagination == true) {
    @Html.Partial("../shared/List Paging.cshtml")
  }
</div>

@Html.Partial("./Assets.cshtml")
