@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;

@RenderPage("shared/_Assets.cshtml", new { scripts = true} )

@{
  var parts = CreateInstance("shared/_Parts.cshtml");

  var article = AsList(Data).FirstOrDefault();
  var filteredCategory = Request.QueryString["category"];
  var categoryParams = Text.Has(filteredCategory)
      ? "category=" + filteredCategory
      : "";

  @* Show article not found notification and stop processing *@
  if(article == null) {
    @parts.ArticleNotFound()

    @* Show "Back to list" button *@
    @parts.BackToListButton(categoryParams)
    return;
  }

  HtmlPage.AddMeta("description", Tags.Strip(article.Teaser)); // Add Meta tag
  HtmlPage.Title = article.Date.ToString("d") + " - " + article.Title +  " | " + HtmlPage.Title; // Adjust page title
}

<div class="app-news app-news-detail" @Edit.TagToolbar(article)>
  @* Head of the article *@
  <div class="app-content">
    @* "Will publish"/"expired" notes for admin *@
    @parts.ArticleInformationAdmin(article)

    <h2>@article.Title</h2>

    @* Show Date and categories *@
    @parts.ArticleInformationDateAndCategories(article)
  </div>

  @* Body of the article *@
  <div class="app-content">
    @* Show image or placeholder *@
    @parts.ImageOrPlaceholder(article, true)

    @if(article.ShowTeaserInDetail) {
      <p class="app-news-detail-teaser">@Html.Raw(Tags.Nl2Br(article.Teaser))</p>
    }

    <div class="app-news-detail-body">@Html.Raw(article.Body)</div>
  </div>
</div>

@* Show "Back to list" button *@
@parts.BackToListButton(categoryParams)