@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@using ToSic.Sxc.Search;
@using ToSic.Eav.Run;

@RenderPage("shared/_Assets.cshtml")

@{
  var parts = CreateInstance("shared/_Parts.cshtml");

  var viewConfiguration = Content;
  var articles = AsList(Data["News"]);
  var categories = AsList(App.Data["Category"]);
  var categoryQueryString = Request.QueryString["category"];
  var filteredCategory = AsList(Data["Category"]).FirstOrDefault();
  var pages = AsList(Data["Paging"]).FirstOrDefault();
}

@* Show Toolbar Menu if admin *@
@if(Edit.Enabled) {
  @parts.AdminToolbarMenu(viewConfiguration)
  @parts.DetailsPageConfigWarning()
}

<div class="app-news app-news-list">
  @* Show category filter if the news are filtered by category querystring *@
  @if (Text.Has(categoryQueryString) && filteredCategory != null) {
    @parts.CategoryFilter(categories, filteredCategory)
  }

  @* List the articles *@
  @parts.ListArticlesMultiCol(articles, true, categoryQueryString)

  @* Show "Back to list" button if the news are filtered by category querystring *@
  @if (Text.Has(categoryQueryString) && filteredCategory != null) {
    @parts.BackToListButton("")
  }

  @* Show pagination if configured *@
  @if (viewConfiguration.ShowPagination) {
    @parts.Paging(pages, categoryQueryString)
  }
</div>

@functions{
  /**
  * Prevent duplicated search results
  */
  public override void CustomizeSearch(Dictionary<string, List<ISearchItem>> searchInfos, IContainer moduleInfo, DateTime beginDate) {
    searchInfos.Clear();
  }
}