@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;

@RenderPage("shared/_Assets.cshtml")

@{
  var parts = CreateInstance("shared/_Parts.cshtml");

  var articles = AsList(Data["News"]);
  var categories = AsList(App.Data["Category"]);
  var filteredCategory = Request.QueryString["category"];
  var pages = AsList(Data["Paging"]).FirstOrDefault();

  var newsPage = Text.Has(Content.NewsPage) ? Content.NewsPage : Link.To();
  var detailLinkMid = Text.Has(Content.MainModuleId) ? Content.MainModuleId : Dnn.Module.ModuleID.ToString();
}

@* Show Toolbar Menu if admin *@
@if(Edit.Enabled) {
  @parts.AdminToolbarMenu(Content)
}

<div class="app-news app-news-list" >
  @* Show category filter if the news are filtered by category *@
  @if (Text.Has(filteredCategory)) {
    @parts.CategoryFilter(categories, filteredCategory, newsPage)
  }

  @* List the articles *@
  @parts.ListArticlesMultiCol(articles, newsPage, detailLinkMid, true, filteredCategory)

  @* Show "Back to list" button if the news are filtered by category *@
  @if (Text.Has(filteredCategory)) {
    @parts.BackToListButton(newsPage)
  }

  @* Show pagination if configured *@
  @if (Content.ShowPagination) {
    @parts.Paging(pages, filteredCategory)
  }
</div>
