@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@using Dynlist = System.Collections.Generic.IEnumerable<dynamic>;

@{
  var helpers = CreateInstance("_Helpers.cshtml");
  var article = PageData["Article"];
  var displayCategories = App.Settings.ActivateCategories && (article.Categories as Dynlist).Any();
}

<div class="app-text">
  @* "Will publish" / "expired" info for admin *@
  @helpers.AdminArticleInformation(article)

  @((Tag.Custom(PageData["HeadingType"])).Class("app-list").Wrap(article.Title))
  <span class='app-date @(displayCategories ? "app-date-border" : "")'>@article.Date.ToString("d")</span>
  @if(displayCategories) {
    <span class="app-categories">
      @foreach (var cat in article.Categories) {
        <a href='@Tags.SafeUrl(Link.To(parameters: "category=" + cat.UrlKey))'>@cat.Name</a>
      }
    </span>
  }
  <p>@Html.Raw(Tags.Nl2Br(article.Teaser))</p>
</div>
<span class="app-readmore">@App.Resources.LabelReadMore</span>