@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;

@{
  var filteredCategory = PageData["FilteredCategory"];
  var selectedId = filteredCategory == null ? -1 : filteredCategory.EntityId;
}

<div class="app-catinfo">
  <span>
    <a class='btn btn-primary btn-sm @(selectedId == -1 ? "active" : "")' href="@Tags.SafeUrl(Link.To())">
      @App.Resources.LabelCategoryAll
    </a>
  </span>

  @foreach (var cat in AsList(App.Data["Category"])) {
    <span>
      <a class='btn btn-primary btn-sm @(cat.EntityId == selectedId ? " active" : "")' href='@Tags.SafeUrl(Link.To(parameters: "category=" + cat.UrlKey))'>
        @cat.Name
      </a>
    </span>
  }
</div>