@inherits ToSic.Sxc.Dnn.RazorComponent
@{
  var pages = AsList(Data["Paging"]).FirstOrDefault();
  int pageNumber = (int)pages.PageNumber;
}

@if(pages.PageCount > 1) {
  <nav>
    <ul class="pagination justify-content-center">
      @* Show previous button *@
      <li class='page-item @(pageNumber == 1 ? "disabled" : "")'>
        <a class="page-link" href="@Code.LinkToPageNumber(pageNumber - 1)">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>

      @* Show button for every page *@
      @for (int i = 1; i <= pages.PageCount; i++) {
        <li class='page-item @(i == pageNumber ? "active" : "")'>
          <a class="page-link" href="@Code.LinkToPageNumber(i)">@i</a>
        </li>
      }

      @* Show next button *@
      <li class='page-item @(pageNumber == pages.PageCount ? "disabled" : "")'>
        <a class="page-link" href="@Code.LinkToPageNumber(pageNumber + 1)">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
}