@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@using Dynlist = System.Collections.Generic.IEnumerable<dynamic>;

@* Show warning that the details page needs to be changed *@
@helper DetailsPageConfigWarning() {
  if(App.Settings.DetailsPageShowWarning) {
    <div class="alert alert-danger" role="alert">@Html.Raw(@App.Resources.LabelAdminDetailPageWarning)</div>
  }
}

@* Shows the image of an article and if none configured a placeholder *@
@helper ImageOrPlaceholder(dynamic article, bool isDetailView) {
  var imageWrapper = isDetailView ? "app-news-detail-img" : "app-img";
  var imageUrl = Text.Has(article.Image) ? article.Image : App.Resources.PlaceholderMissingImage;
  var imageResizerHeightAndMode = isDetailView ? "mode=max" : "h=480&mode=crop";

  if (isDetailView && article.Lightbox) {
    @Tag.A().Class("fancybox").Href(imageUrl + "?w=1200&h=1200&mode=max&scale=both&quality=80").Title(article.Title).TagStart
  }
    <div class="@imageWrapper">
      <span class="overlay"></span>
      @Tag.Img().Class("img-fluid").Src(imageUrl + "?w=800&" + imageResizerHeightAndMode + "&scale=both&quality=80&anchor=" + article.CropAnchor).Alt(article.Title)
    </div>

  if (isDetailView && article.Lightbox) {
    @Tag.A().TagEnd
  }
}

@* Shows condensed information about an article (for listviews) *@
@helper ArticleInformation(dynamic article, string headingType) {
  <div class="app-text">
    @* "Will publish" / "expired" info for admin *@
    @ArticleInformationAdmin(article)

    @((Tag.Custom(headingType)).Class("app-list").Wrap(article.Title))
    @ArticleInformationDateAndCategories(article)
    <p>@Html.Raw(Tags.Nl2Br(article.Teaser))</p>
  </div>
  <span class="app-readmore">@App.Resources.LabelReadMore</span>
}

@* Show info to admin whether the article will publish or is already expired *@
@helper ArticleInformationAdmin(dynamic article) {
  if(Edit.Enabled && article.ShowFrom != null && article.ShowFrom.Date > DateTime.Now.Date) {
    <div class="alert alert-warning" role="alert">@(App.Resources.LabelShowFromPill + " " + article.ShowFrom.Date.ToString("d"))</div>
  }

  if(Edit.Enabled && article.ShowTo != null && article.ShowTo.Date <= DateTime.Now.Date) {
    <div class="alert alert-danger" role="alert">@(App.Resources.LabelShowToPill + " " + article.ShowTo.Date.ToString("d"))</div>
  }
}

@* Show the date and if configured the categories of an article *@
@helper ArticleInformationDateAndCategories(dynamic article) {
  var displayCategories = App.Settings.ActivateCategories && (article.Categories as Dynlist).Any();
  var dateBorder = displayCategories ? "app-date-border" : "";

  <span class="app-date @dateBorder">@article.Date.ToString("d")</span>
  if(displayCategories) {
    <span class="app-categories">
      @foreach (var cat in article.Categories) {
        @Tag.A().Href(Link.To(parameters: "category=" + cat.UrlKey)).Wrap(cat.Name + " ")
      }
    </span>
  }
}