@inherits Custom.Hybrid.Razor14
@{
  var newsAddToolbar = Kit.Toolbar.Empty().New("News", prefill: "Date=" + DateTime.Now.Date.ToString("yyyy-MM-dd"));

  var newsManageToolbar = Kit.Toolbar.Empty().Data("News");
}
<div class="app-news5-admin-menu">
  <div class="toolbar">
    @newsAddToolbar.AsTag()
    <span>@Resources.LabelAdminMenuNew</span>
    @newsManageToolbar.AsTag()
    <span>@Resources.LabelAdminMenuManage</span>
  </div>
  <div @Kit.Toolbar.Default(DynamicModel.Content)></div>
</div>