@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;

@{
  var filteredCategory = MyModel.Item("FilteredCategory");
  var selectedId = filteredCategory == null ? -1 : filteredCategory.Int("EntityId");

  var catToolbar = Kit.Toolbar.Empty()
    .Settings(hover: "left")
    .Data("Category");
}
<div class="app-news5-catinfo" @catToolbar>
  <span>
    <a class='btn btn-primary btn-sm @(selectedId == -1 ? "active" : "")' href="@Link.To()">
      @App.Resources.String("LabelCategoryAll")
    </a>
  </span>
  @foreach (var cat in AsItems(App.Data["Category"])) {
    <span>
      <a class='btn btn-primary btn-sm @(cat.Id == selectedId ? " active" : "")' href='@Link.To(parameters: "category=" + cat.String("UrlKey"))'>
        @cat.String("Name")
      </a>
    </span>
  }
</div>