@inherits ToSic.Sxc.Dnn.RazorComponent
@using ToSic.Razor.Blade;
@using Dynlist = System.Collections.Generic.IEnumerable<dynamic>;
@using Connect.Koi;

@* Show warning that the details page needs to be changed *@
@helper DetailsPageConfigWarning() {
  if(App.Settings.DetailsPageShowWarning) {
    <div class="alert alert-danger" role="alert">@Html.Raw(@App.Resources.LabelAdminDetailPageWarning)</div>
  }
}

@* Show Menu of toolbars to add a new article, manage the articles and edit the view configuration *@
@helper AdminToolbarMenu(dynamic viewConfiguration) {
  @* Create iso-date for date pre-filling *@
  var tomorrow = DateTime.Now.Date.AddDays(1).ToString("yyyy-MM-dd");

  <div class="app-news-admin-menu">
    <div class="toolbar">
      @Edit.Toolbar(actions: "new", contentType: "News", prefill: new { Date = tomorrow })
      <span>@App.Resources.LabelAdminMenuNew</span>

      @Edit.Toolbar(toolbar: new object[] {
        new {
          showCondition = true,
          command = new {
            action = "contentitems",
            contentType = "News",
            filters = new { ModuleId = Dnn.Module.ModuleID }
          }
        }
      })
      <span>@App.Resources.LabelAdminMenuManage</span>
    </div>
    <div>@Edit.Toolbar(viewConfiguration)</div>
  </div>
}

@* Show all categories as buttons with which the filtering can be changed *@
@helper CategoryFilter(Dynlist categories, dynamic filteredCategory) {
  <div class="app-catinfo">
    <h2>@filteredCategory.PageTitle</h2>
    <span>
      @Tag.A().Class("btn btn-primary btn-xs").Href(Link.To()).Wrap(App.Resources.LabelCategoryAll)
    </span>

    @foreach (var cat in categories) {
      var isActive = cat.EntityId == filteredCategory.EntityId ? " active" : "";
      <span>
        @Tag.A().Class("btn btn-primary btn-xs" + isActive).Href(Link.To(parameters: "category=" + cat.UrlKey)).Wrap(cat.Name)
      </span>
    }
  </div>
}

@* List the articles in a single column *@
@helper ListArticlesSingleCol(dynamic articlesToShow, string categoryQueryString) {
  <div class="row">
    @foreach (var article in articlesToShow) {
      <div class="col-xs-12" @Edit.TagToolbar(article)>
        <div class="app-details-link">
          @Tag.A().Class("link-overlay").Href(Link.To(pageId: GetDetailsPageTabId(), parameters: DetailPageQueryString(article, categoryQueryString)))
          <div class="row">
            <div class="app-image-wrapper-single-col col-xs-12 col-sm-6 col-lg-4">
              @* Show image or placeholder *@
              @ImageOrPlaceholder(article, false)
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-8">
              @* Show Title, Date, Category, Teaser and read more button *@
              @ArticleInformation(article, "h2")
            </div>
          </div>
        </div>
      </div>
    }
  </div>
}

@* List the articles in multiple columns (max 3 columns) *@
@helper ListArticlesMultiCol(dynamic articlesToShow, bool showImages, string categoryQueryString) {
  <div class="row">
    @foreach (var article in articlesToShow) {
      <div class="col-xs-12 col-sm-6 col-lg-4" @Edit.TagToolbar(article)>
        <div class="app-details-link">
          @Tag.A().Class("link-overlay").Href(Link.To(pageId: GetDetailsPageTabId(), parameters: DetailPageQueryString(article, categoryQueryString)))

          @if(showImages) {
            <div class="app-img-wrapper">
              @* Show image or placeholder *@
              @ImageOrPlaceholder(article, false)
            </div>
          }

          @* Show Title, Date, Category, Teaser and read more link *@
          @ArticleInformation(article, "h3")
        </div>
      </div>
    }
  </div>
}

@* Shows the image of an article and if none configured a placeholder *@
@helper ImageOrPlaceholder(dynamic article, bool isDetailView) {
  var imageWrapper = isDetailView ? "app-news-detail-img" : "app-img";
  var imageUrl = Text.Has(article.Image) ? article.Image : App.Resources.PlaceholderMissingImage;
  var imageResizerHeightAndMode = isDetailView ? "mode=max" : "h=480&mode=crop";

  if (isDetailView && article.Lightbox) {
    @Tag.A().Class("fancybox").Href(imageUrl + "?w=1200&h=1200&mode=max&scale=both&quality=80").Title(article.Title).TagStart
  }
    <div class="@imageWrapper">
      <span class="overlay"></span>
      @Tag.Img().Class("img-responsive").Src(imageUrl + "?w=800&" + imageResizerHeightAndMode + "&scale=both&quality=80&anchor=" + article.CropAnchor).Alt(article.Title)
    </div>

  if (isDetailView && article.Lightbox) {
    @Tag.A().TagEnd
  }
}

@* Shows condensed information about an article (for listviews) *@
@helper ArticleInformation(dynamic article, string headingType) {
  <div class="app-text">
    @* "Will publish"/"expired" notes for admin *@
    @ArticleInformationAdmin(article)

    @((Tag.Custom(headingType)).Class("app-list").Wrap(article.Title))
    @ArticleInformationDateAndCategories(article)
    <p>@Html.Raw(Tags.Nl2Br(article.Teaser))</p>
  </div>
  <span class="app-readmore">@App.Resources.LabelReadMore</span>
}

@* Show info to admin whether the article will publish or is already expired *@
@helper ArticleInformationAdmin(dynamic article) {
  if(Edit.Enabled && article.ShowFrom != null && article.ShowFrom.Date > DateTime.Now.Date) {
    <div class="alert alert-warning" role="alert">@(App.Resources.LabelShowFromPill + " " + article.ShowFrom.Date.ToString("d"))</div>
  }

  if(Edit.Enabled && article.ShowTo != null && article.ShowTo.Date <= DateTime.Now.Date) {
    <div class="alert alert-danger" role="alert">@(App.Resources.LabelShowToPill + " " + article.ShowTo.Date.ToString("d"))</div>
  }
}

@* Show the date and if configured the categories of an article *@
@helper ArticleInformationDateAndCategories(dynamic article) {
  var displayCategories = App.Settings.ActivateCategories && (article.Categories as Dynlist).Any();
  var dateBorder = displayCategories ? "app-date-border" : "";

  <span class="app-date @dateBorder">@article.Date.ToString("d")</span>
  if(displayCategories) {
    <span class="app-categories">
      @foreach (var cat in article.Categories) {
        @Tag.A().Href(Link.To(parameters: "category=" + cat.UrlKey)).Wrap(cat.Name)
      }
    </span>
  }
}

@* Displays article not found info *@
@helper ArticleNotFound() {
  <h1>@App.Resources.LabelEventNotExists</h1>
  <p>@App.Resources.LabelEventNotExistsText</p>
}

@* Shows a back to list button *@
@helper BackToListButton(string categoryParams) {
  @Tag.A().Class("btn btn-primary app-backtolist").Href(Link.To(parameters: categoryParams)).Wrap(App.Resources.LabelBackToList)
}

@* Displays a page navigation with numbered buttons for every page and previous/next buttons *@
@helper Paging(dynamic paging, string filteredCategory) {
  int pageNumber = (int)paging.PageNumber;
  var previousDisabled = pageNumber == 1 ? "disabled" : "";
  var nextDisabled = pageNumber == paging.PageCount ? "disabled" : "";

  if(paging.PageCount > 1) {
    <nav>
      <ul class="pagination">
        @* Show previous button *@
        <li class="@previousDisabled">
          @Tag.A().Href(LinkToPageNumber(pageNumber - 1, filteredCategory)).TagStart
            <span aria-hidden="true">&laquo;</span>
          @Tag.A().TagEnd
        </li>

        @* Show button for every page *@
        @for (int i = 1; i <= paging.PageCount; i++) {
          @* Active Page *@
          if (i == pageNumber) {
            <li class="active"><a href="#">@i</a></li>
          } else {
            <li>@Tag.A().Href(LinkToPageNumber(i, filteredCategory)).Wrap(i.ToString())</li>
          }
        }

        @* Show next button *@
        <li class="@nextDisabled">
          @Tag.A().Href(LinkToPageNumber(pageNumber + 1, filteredCategory)).TagStart
            <span aria-hidden="true">&raquo;</span>
          @Tag.A().TagEnd
        </li>
      </ul>
    </nav>
  }
}

@* show warning for admin if koi.json is missing *@
@helper KoiAdminMessages() {
  if(Koi.IsUnknown && Dnn.User.IsInRole(Dnn.Portal.AdministratorRoleName)) {
    <div class='dnnFormMessage dnnFormWarning'>
      This component supports multiple CSS frameworks (Bootstrap3, Bootstrap4). It uses <a href='http://connect-koi.net/' target='_blank'>Koi</a> to detect the CSS framework of the theme/skin. Your theme doesn't broadcast it's CSS-Framework, so the output may look wrong. <br>
      To fix this, <a href='http://connect-koi.net/dnn-themes'>add a koi.json file to your theme/skin folder</a>.<br>
      <em>note: only admins see this message, and it will disappear when you add a correct koi.json</em>
    </div>
  }
}

@functions {
  /**
  * Returns the tabID of the details page, configured in the app settings
  */
  public int GetDetailsPageTabId() {
    return int.Parse((AsEntity(App.Settings).GetBestValue("DetailsPage")).Split(':')[1]);
  }

	/**
  * Generate a paging-link, preserving current category parameters
  */
  public string LinkToPageNumber(int pageNumber, string categoryQueryString){
    var categoryParams = Text.Has(categoryQueryString)
      ? "category=" + categoryQueryString + "&"
      : "";

    return Link.To(parameters: categoryParams + "page=" + pageNumber);
  }

  /**
  * Generate the query string for the detail link of an article, preserving current category parameters
  */
  public string DetailPageQueryString(dynamic article, string categoryQueryString) {
    var categoryParams = Text.Has(categoryQueryString)
      ? "category=" + categoryQueryString + "&"
      : "";

    return categoryParams + "details=" + article.EntityId.ToString() + "&" + article.UrlKey;
  }
}